<!DOCTYPE html>
<html lang="en">

<head>
    <title>Skills Matrix</title>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script defer src="/Comparison/main.js"></script>
</body>

</html>